/*Tesla Website style.css*/
/*December 15 2021*/
/* TEJ2O*/

* {
  margin:0;
  padding:0;
}

body{
font-family: arial,  "Times New Roman"
color: black
}

nav > img{
margin-top: 20px;
margin-left: 20px;
display: block;
float: left;
}

nav  > ul{ 
  margin-left: 400px
  padding-top: 20px;
}

nav ul li{
  display: block;
  float: left;
  padding-right: 20px;
}

nav ul a:hover{
}
nav ul a{
  text-decoration: none;
  text-transform: uppercase;
  font-weight:bold;
}

nav ul a:hover{
  colour:grey;
}
